$prefix: 'skull' !default;

$color-black:(
    50:  #f6f6f6,
    100: #e7e7e7,
    200: #d1d1d1,
    300: #b0b0b0,
    400: #888888,
    500: #6d6d6d,
    600: #5d5d5d,
    700: #4f4f4f,
    800: #454545,
    900: #3d3d3d,
    950: #000000,
)!default;
$gradiant:(
    50: #141E30,
    100:#243B55
)!default;

$color-circular:(
    50: #FFC700,
    100:#4CCD99
)!default;

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;

$directions:(
  t: top,
  l: left,
  r: right,
  b: bottom,
  x: left right,
  y: top bottom
) !default;

/** FONT FAMILIES */
$font-sans: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif !default;

/** TAMAÑO FONTS */
$font-xs: 0.75rem !default;   /** 12px */
$font-sm: 0.875rem !default;  /** 14px */
$font-md: 1rem !default;      /** 16px */
$font-lg: 1.125rem !default;  /** 18px */
$font-xl: 1.25rem !default;   /** 20px */
$font-2xl: 1.5rem !default;   /** 24px */
$font-3xl: 1.875rem !default; /** 30px */
$font-4xl: 2.25rem !default;  /** 36px */
$font-5xl: 3rem !default;     /** 48px */
$font-6xl: 3.75rem !default;  /** 60px */
$font-7xl: 4.5rem !default;   /** 72px */
$font-8xl: 6rem !default;     /** 96px */
$font-9xl: 8rem !default;     /** 128px */

/** FONT WEIGHTS */
$font-thin: 100 !default;
$font-extralight: 200 !default;
$font-light: 300 !default;
$font-normal: 400 !default;
$font-medium: 500 !default;
$font-semibold: 600 !default;
$font-bold: 700 !default;
$font-extrabold: 800 !default;
$font-black: 900 !default;

$font-primary: var(--#{$prefix}-font-primary, $font-sans);
$font-secondary: var(--#{$prefix}-font-secondary, $font-serif);


/* SHADOW */
$shadow-color: var(--#{$prefix}-shadow-color, 51 65 85) !default;
$shadow-sm: 0 1px 2px 0 rgb($shadow-color / 0.05) !default;
$shadow: 0 1px 3px 0 rgb($shadow-color / 0.1), 0 1px 2px -1px rgb($shadow-color / 0.1) !default;
$shadow-md: 0 4px 6px -1px rgb($shadow-color / 0.1), 0 2px 4px -2px rgb($shadow-color / 0.1) !default;
$shadow-lg: 0 10px 15px -3px rgb($shadow-color / 0.1), 0 4px 6px -4px rgb($shadow-color / 0.1) !default;
$shadow-xl: 0 20px 25px -5px rgb($shadow-color / 0.1), 0 8px 10px -6px rgb($shadow-color / 0.1) !default;