.btn-primary {
  text-align: center;
  color: map-get($color-black, 950);
  background-color: map-get($color-black, 50);
  border: map-get($color-black, 50) solid 1px;
  cursor: pointer;
  border-radius: 25px;
  font-weight: $font-medium;
  transition: all 0.3s ease;
  width: 8rem;
  height: 3rem;
  &:hover {
    color: map-get($color-black, 50);
    background-color: map-get($color-black, 950);
    transform: scale(0.9);
    border: map-get($color-black, 50) solid 2px;
  }
}
