.grid-carrousel {
  @include grid(1fr 2fr 1fr, repeat(2, 1fr), center, center);
  width: 100%;
  height: auto;
  grid-template-areas:
    ". c ."
    ". item .";
  @media only screen and (max-width: 768px) {
    @include grid(1fr, 1fr, center, center);
    grid-template-areas:
      "c"
      "item";
  }
  &-contenido {
    max-width: 100%;
    height: 200px;
    overflow: hidden;
    grid-area: c;
  }
  &-item {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  &-item-tarjeta {
    width: 100%;
    height: 100%;
  }
  &-item-img {
    padding-top: 40px;
    width: 250px;
    height: 150px;
    @media only screen and (max-width: 768px) {
      max-width: 100%;
      height: 150px;
    }
  }
}

#itemCarrousel-1 {
  background-color: map-get($color-black, 50);
}

#itemCarrousel-2 {
  background-color: map-get($color-black, 50);
}

#itemCarrousel-3 {
  background-color: map-get($color-black, 50);
}

.itemCarrouselArrows {
  @include flex(center, center, space-between, 1px, row);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  height: 100%;
  padding: 0.3125rem;
  i {
    &:hover {
      cursor: pointer;
      color: map-get($color-black, 500);
    }
  }
  &-contenido {
    @include flex(center, center, space-evenly, 1px, row);
    width: 100%;
    grid-area: item;
  }
  &-circulo {
    cursor: pointer;
    font-size: 32px;
    color: map-get($color-black, 400);
    &:hover {
      color: map-get($color-black, 50);
    }
  }
}
