$card-bg: var(--#{$prefix}-card-bg, map-get($color-black, 50)) !default;
$card-radius: var(--#{$prefix}-card-radius, 12px) !default;
$card-circular: var(--#{$prefix}-card-circular, 50%) !default;
$card-border: var(
  --#{$prefix}-card-border,
  map-get($color-black, 950)
) !default;

.card {
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  box-shadow: $shadow-xl;
  border-radius: $card-radius;
  border: 1px solid $card-border;
  background-color: $card-bg;

  &:hover {
    box-shadow: $shadow-md;
  }
  &.wh{
    max-width:100%;
    height: 25rem;
  }
  &.column{
    flex-direction: column;
  }
  &.circular{
    @include flex(center, center, center, 1px, column);
    width:300px;
    height: 300px;
    border-radius: $card-circular;
    &.verde{
      background-color: map-get($color-circular, 100);
    }
    &.amarillo{
      background-color: map-get($color-circular, 50);
    }
  }
  &.center{
    @include flex(center, start, start, .1875rem, column);
  }
  &.pd{
    padding: 10px 20px;
  }
  &-text {
    margin-top: 5px;
    margin-bottom: 5px;
    color: map-get($color-black, 500);
  }
  &-content {
    padding: 24px 18px;
  }

  &-title {
    font-weight: $font-bold;
    text-align: center;
  }
  &-title-black{
    color: map-get($color-black, 900);
  }
  &-title-white{
    color: map-get($color-black, 50);
  }
  &-icon {
    width: 3.125rem;
    height: auto;
  }
  &-wh-title{
    width: 300px;
    height: auto;
  }
  &-image {
    width: 100%;
    height: 300px;
    @media only screen and (max-width: 768px) {
      height: auto;
    }
  }
  &-actions {
    @include flex(center, center, flex-start, 16px, row);
    flex-wrap: wrap;
  }
}