.navbar {
  border-top: map-get($color-black, 50) ridge 1px;
  @include flex(center, center, center, 16px, row);
  ul {
    li {
      a {
        &:hover {
          color: map-get($color-circular, 150);
        }
      }
    }
  }
  &-items {
    @include flex(center, center, start, 16px, row);
    @media only screen and (max-width: 900px) {
      flex-direction: column;
      position: fixed;
      width: 50%;
      height: 100vh;
      opacity: 0.8;
      right: 0;
      top: 21%;
      padding: 5% 0%;
      background: linear-gradient(
        to right,
        map-get($gradiant, 50),
        map-get($gradiant, 100)
      );
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;
      z-index: 3;
    }
  }
  &-logo {
    width: 12.5rem;
    height: auto;
    filter: invert(0.2);
  }
}
