.navbar {
  border-top: #aba9aa ridge 1px;
  gap: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  ul {
    li {
      a {
        &:hover {
          color: map-get($color-black, 950);
        }
      }
    }
  }
  &-items{
    display: flex;
    gap: 16px;
    align-items: center;
  }
  &-logo{
    width: 12.5rem;
    height: auto;
  }
}
