*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

html{
    background-color: map-get($color-black, 800);
}

a{
    text-decoration: none;
    font-family: $font-secondary;
    color: map-get($color-black, 50);
}
ul{
    list-style: none;
    font-family: $font-secondary;
    color: map-get($color-black, 50);
}
