h1 {
  font-size: $font-5xl;
  color: map-get($color-black, 100);
  @media (max-width: 768px) {
    font-size: $font-4xl;
  }
}
h2 {
  font-size: $font-3xl;
}
h3 {
  font-size: $font-2xl;
  color: map-get($color-black, 950);
}
h4 {
  font-size: $font-xl;
  color: map-get($color-black, 950);
}
p {
  font-family: $font-primary;
  font-weight: $font-normal;
  color: map-get($color-black, 100);
}
