.flex-container {
  gap: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: $font-md;
  &.wrap {
    flex-wrap: wrap;
  }
  &-img {
    display: flex;
    gap: 10px;
  }
  &-icon {
    display: flex;
    gap: 8px;
  }
  &.bg {
    background: linear-gradient(to right, map-get($gradiant,50), map-get($gradiant,100));
  }
  &.pd{
    padding: 1rem 0rem;
  }
  &.text{
    font-size: $font-xl;
  }
  &-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding:5rem 0px;
    border-top: map-get($color-black, 50) ridge 1px;
    @media only screen and (max-width:768px) {
      display: flex;
      flex-direction: column;
      gap: 50px;
    }
    address {
      font-size: $font-md;
    }
    ul {
      text-align: start;
      font-size: $font-md;
      li{
        h2{
          color: map-get($color-black, 50);
          border-radius: 16px;
          padding: 10px;
        }
        a {
          &:hover {
            color: map-get($color-black, 950);
          }
        }
      }
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100vh;
  overflow: hidden;
  position: relative;
  &-parrafo {
    position: absolute;
    color: map-get($color-black, 50);
    font-size: $font-7xl;
    font-weight: $font-black;
    text-align: center;
    z-index: 1;
    @media (max-width: 768px){
      font-size: $font-5xl;
    }
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(12, 12, 12, 0.5);
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 25rem));
  grid-template-rows: auto auto;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.seccion{
  &-pd-bt{
    padding-bottom: 3rem;
  }
  &-pd-tp{
    padding-top: 3rem;
  }
}